{
	"env": {
		"es6": true,
		"browser": true,
		"jquery": true
	},
	"extends": "eslint",
	"parserOptions": {
		"sourceType": "module"
	}
	"rules": {
		"no-tabs": 0,
		"indent": 0,
		"func-style": ["error", "expression"],
		"no-console": 0
	}
}